.p {
  color: rgb(237, 100, 53);
  font-family: "PT Sans", sans-serif 15px;
  font-weight: bold;
  }
.li {
  color: rgb(107, 107, 107);
  font-family: "PT Sans", sans-serif;;
  margin-block-start: -12.5px   
margin-bottom: -12.5px;
margin-inline-end: -20px;
margin-inline-start: -20px;
margin-left: -20px;;
margin-right: -20px
margin-top: -12.5px;
  }
