@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   scroll-behavior: smooth;
  --dark-grey: #3c3731;
  --text-color: #f2e8e4;
  --light-pink: #faf4f2;
  --antique-white: #ffe6d4;
  --misty-rose: #f4e6e2;
  --gray-olive: #958b7e;
  --seashell: #45c1c7;
  --sea-green: #32a1a7;
  --dark-gray: #9a9898;
  --pale-turquoise: #b2e7e9;
  --tangerine: #ed6435;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}
