@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --text-color: #3c3731;
  --text-color: #f2E8E4;
  --text-color: #faf4f2;
  --ui-subtitle-color: #958b7e;
  --black-color: #121212;
}
/* 
img {
  display: block;
  width: 100%;
} */

/* .scroll-to-top {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 50px;
  width: 60px;
  height: 60px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
  padding-bottom: 5px;
} */
