.cta {
    background-image: url("../img/promotion/cta.jpg");
    background-size: cover;
    height: 705px;
    width: 385px;
    display: inline-block;
    padding: 90px 0 100px;
}

.promotion {
    color: var(--color-button-border);
    font-size: 15px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    margin-left: 20px;
    margin-bottom: 20px;
}

.cat-week {
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: var(--color-p-text);
    font-size: 48px;
    display: flex;
    width: 300px;
    word-break: break-word;
    margin-left: 20px;
    line-height: 1.1;
}

.special-prices {
    color: var(--color-content-text);
    font-size: 19px;
    font-family: "PT Sans", sans-serif;
    display: flex;
    width: 310px;
    word-break: break-word;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 30px;
}

.discount {
    color: var(--color-number-text);
    font-weight: bold;
}

.smooth-scroll-shop {
    transition: scroll-behavior 0.5s ease-in-out;
    text-decoration: none;
    background-color: var(--color-background-gallery-button);
    color: var(--color-button-border);
    font-size: 20px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    position: absolute;
    padding: 15px 30px;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 150px;
}

.timer {
    display: flex;
    justify-content: space-between;
}

.days-timer {
    display: flex;
    flex-flow: column;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid var(--color-button-border);
    border-radius: 5px;
    text-align: center;
    width: 63px;
    height: 63px;
}

.hours-timer {
    display: flex;
    flex-flow: column;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid var(--color-button-border);
    border-radius: 5px;
    text-align: center;
    width: 63px;
    height: 63px;
}

.minutes-timer {
    display: flex;
    flex-flow: column;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid var(--color-button-border);
    border-radius: 5px;
    text-align: center;
    width: 63px;
    height: 63px;
}

.seconds-timer {
    display: flex;
    flex-flow: column;
    margin-right: 10px;
    border: 1px solid var(--color-button-border);
    border-radius: 5px;
    text-align: center;
    width: 63px;
    height: 63px;
}

.days {
    font-size: 12px;
    font-family: "PT Sans", cursive;
    color: var(--color-text-section-text);
}

.hours {
    font-size: 12px;
    font-family: "PT Sans", cursive;
    color: var(--color-text-section-text);
}

.minutes {
    font-size: 12px;
    font-family: "PT Sans", cursive;
    color: var(--color-text-section-text);
}

.seconds {
    font-size: 12px;
    font-family: "PT Sans", cursive;
    color: var(--color-text-section-text);
}

#days {
    font-size: 15px;
    font-family: "Ballo 2", cursive;
    color: var(--color-p-text);
}

#hours {
    font-size: 15px;
    font-family: "Ballo 2", cursive;
    color: var(--color-p-text);
}

#minutes {
    font-size: 15px;
    font-family: "Ballo 2", cursive;
    color: var(--color-p-text);
}

#seconds {
    font-size: 15px;
    font-family: "Ballo 2", cursive;
    color: var(--color-p-text);
}