.smooth-scroll2 {
    transition: scroll-behavior 0.5s ease-in-out;
}

.promo{
    margin-left: 20px;
}

.upper-block {
    background-image: url('../img/promo/pexels-cottonbro.png');
    width: 325px;
    height: 162px;
    background-size: contain;
    background-repeat: no-repeat;
}

.lower-block {
    background-image: url(../img/promo/bannerfood.png);
    width: 325px;
    height: 325px;
    background-size: contain;
    background-repeat: no-repeat;
}

.promo-title {
    color: #ED6435;
    font-size: 15px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
}

.food-for-dogs {
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: #3C3731;
    font-size: 32px;
    display: flex;
    width: 300px;
    word-break: break-word;
}