.food-section {
    background-color: var(--light-pink);
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Baloo 2', cursive;
    color: var(--dark-grey);
}

.food-section__title {
    font-size: 30px;
    margin-bottom: 10px;
}

.food-section__image {
    object-fit: contain;
    object-position: 50% 50%;
    width: 69px;

}

.food-section__description {
    font-size: 19px;
    line-height: 1.5;
    font-family: 'PT Sans', sans-serif;
    color: var();
}


.food-category {
    margin-bottom: 20px;
    text-align: right
    
}

.food-category__title {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: left;
    color: var(--dark-grey);
}

/* Food item */

.food-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.food-item__image {
    width: 70px;
    height: 70px;

}

.food-item__name {
    font-size: 22px;
    color: var(--dark-grey);
    font-weight: bold;
}

.food-item__price {
    font-size: 14px;
    text-align: right;
}

.food-item__ingredients {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    color: var(--gray-olive);
}

.food-item__ingredients li {
    margin-bottom: 5px;
}

.short-line {
    height: 3px;
    width: 27.19px;
    border: none;
    background-color: var(--seashell);
}
