/* all block */
.carousel__wrap {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  padding: 45px 40px;
  min-width: 320px;
}

.carousel__header-product {
  padding-left: 15px;
  padding-right: 15px;
}


/* Any Products for Any Pets */
.carousel__header-top-text {
  color: var(--color-carousel__header-top-text);
  font-family: 'Baloo 2', cursive;
  font-size: 44px;
  word-wrap: break-word;
  font-weight: bold;
  line-height: 52.8px;
}

/* logo bone image */
.carousel__logo-product img {
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-width: 1;
  font-size: 17px;
  height: 32px;
  line-height: 27.2px;
  object-fit: contain;
}

/* blockimage */
.carousel__logo-product {
  padding-top: 27.5px;
}

/* block down text */
.carousel__header-text-product {
  margin-top: 20px;
  text-decoration-style: solid;
  height: auto;
  width: auto;
  font-stretch: 100%;
  margin-block-start: 20px;

}

/* Best picks for your beloved companions only in Happy Paw. */
.carousel__header-down-text {
  color: var(--color-carousel__header-down-text);
  font-size: 19px;
  font-weight: 400;
  line-height: 28.5px;
  overflow-wrap: break-word;
}



/* block carousel */
.carousel__slides-card {
  margin-top: 50px;
  width: 100%;
  display: flex;
}

.carousel-container-product-card {
  display: flex;
  /* overflow: hidden; */
  width: 100%;
  box-sizing: border-box;
}



.carosel-conteiner-product {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  padding: 0 15px;
  display: block;
  flex: 0 0 calc(100% / 3);
  transition: transform 0.3s ease-in-out;
}


@media screen and (max-width: 992px) {
  .carosel-conteiner-product {
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (max-width: 768px) {
  .carosel-conteiner-product {
    flex: 0 0 100%;
  }
}


/* start card */
.carousel-border-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1.6px solid var(--color-carousel-any-products);
}

.carousel-card-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 45px 15px;
}

/* block image */
.image-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* image */
.carousel__card-image {
  min-height: 32px;
  width: 120px;
  height: 120px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  object-fit: cover;
  object-position: 50% 0;
}

/* block For Cats */
.carousel__card-name {
  margin-top: 20px;
  font-size: 24px;

}

/* For Cats */
.carousel__card-category {
  font-family: "Baloo 2", cursive;
  font-size: 24px;
  display: inline;
  width: 100%;
  white-space: nowrap;
}

.carousel__arrow {
  color: var(--color-carousel__arrow);
}

/* block text */
.carousel__card-description {
  margin-top: 20px;
  display: inline;
  max-width: 100%;
  line-height: 21.4275px;
}

/* text */
.carousel__card-text {
  color: var(--color-carousel__card-text);
  font-size: 15px;
  font-weight: 400;
}


/* button */
.button__carousel-conteiner-card {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 45px;
}

.carousel__button--navigation-product {
  width: 24px;
  background-color: var(--color-p-text);
  fill: #fff;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1;
  opacity: 0.85;
}

.carousel__button-prev-product {
  transform: rotateY(180deg);
  left: 5px;
}

.carousel__button-next-product {
  right: 5px;
}

@media (min-width: 768px) {
  .carousel__button--navigation-product {
    padding: 5px;
    width: 32px;
  }
}

@media (min-width: 1200px) {
  .carousel__button--navigation-product {
    fill: var(--color-p-text);
    background: none;
    width: 40px;
  }

  .carousel__button-prev-product {
    left: -12px;
  }

  .carousel__button-next-product {
    right: -12px;
  }
}

