.smooth-scroll-discover {
  transition: scroll-behavior 0.5s ease-in-out;
  color: var(--color-content-text);
  text-decoration: none;
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
}

.promo {
  display: flex;
  justify-content: center;
}

.video-container {
  background-image: url("../img/promo/pexels-cottonbro.png");
  width: 732px;
  height: 510px;
  margin: 15px 0 15px 15px;
  background-position: 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
}

.play-button {
  width: 40px;
  color: var(--color-button-text-secondary);
}

.promo-food-container {
  background-image: url(../img/promo/bannerfood.png);
  width: 350px;
  height: 510px;
  margin: 15px;
  background-position: 100%;
  background-size: cover;
  padding: 27px;
}

.promo-title {
  color: var(--color-number-text);
  font-size: 15px;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

.promo-description {
  font-family: "Baloo 2", cursive;
  font-weight: bold;
  color: var(--color-p-text);
  font-size: 28px;
  line-height: 1.1;
  margin: 20px 0;
}

.colorful-list {
  margin-top: 20px;
  list-style-type: none;
  color: var(--color-button-text);
}

.colorful-list li {
  margin-bottom: 5px;
  display: flex;
}

.colorful-list li div {
  color: var(--color-p-text);
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .promo {
    max-width: 700px;
    align-items: center;
  }

  .video-container {
    max-width: 700px;
    height: 470px;
  }

  .promo-food-container {
    max-width: 700px;
    height: 470px;
    background-position-x: 100%;
    background-position-y: 100%;
  }

  .promo-description {
    font-size: 32px;
  }
}

@media (max-width: 525px) {
  .promo {
    max-width: 525px;
    flex-flow: column wrap;
  }

  .video-container {
    max-width: 350px;
    height: 160px;
    margin: 0;
  }

  .btn-wrapper {
    height: 50px;
    max-width: 50px;
  }

  .play-button {
    width: 30px;
  }

  .promo-food-container {
    max-width: 350px;
    height: 320px;
    margin: 50px 0;
  }
}

@media (max-width: 350px) {
  .promo {
    max-width: 300px;
  }

  .video-container {
    max-width: 300px;
  }

  .promo-food-container {
    max-width: 300px;
  }
}
