/* all block */
.carousel__wrap {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  padding: 45px 40px;
  min-width: 320px;
}

.carousel__header-product {
  padding-left: 15px;
  padding-right: 15px;
}


/* Any Products for Any Pets */
.carousel__header-top-text {
  color: var(--color-carousel__header-top-text);
  font-family: 'Baloo 2', cursive;
  font-size: 44px;
  word-wrap: break-word;
  font-weight: bold;
  line-height: 52.8px;
}

/* logo bone image */
.carousel__logo-product img {
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-width: 1;
  font-size: 17px;
  height: 32px;
  line-height: 27.2px;
  object-fit: contain;
}

/* blockimage */
.carousel__logo-product {
  padding-top: 27.5px;
}

/* block down text */
.carousel__header-text-product {
  margin-top: 20px;
  text-decoration-style: solid;
  height: auto;
  width: auto;
  font-stretch: 100%;
  margin-block-start: 20px;

}

/* Best picks for your beloved companions only in Happy Paw. */
.carousel__header-down-text {
  color: var(--color-carousel__header-down-text);
  font-size: 19px;
  font-weight: 400;
  line-height: 28.5px;
  overflow-wrap: break-word;
}




/* block carousel */
.carousel__slides-card {
  margin-top: 50px;
  display: flex;
  flex: 1;
  width: 100%;
  overflow: hidden;
  /* position: relative; */
}

.carosel-conteiner-product {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  min-width: 320px;
  padding: 0 15px;
  display: block;
  width: 100%;
  
  /* flex: 0 0 calc(100% / 3);
  transition: transform 0.3s ease-in-out; */
}

/* start card */
.carousel-border-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1.6px solid var(--color-carousel-any-products);
}

.carousel-card-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 45px 20px;
}

/* block image */
.image-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* image */
.carousel__card-image {
  min-height: 32px;
  width: 120px;
  height: 120px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  object-fit: cover;
  object-position: 50% 0;
}

/* block For Cats */
.carousel__card-name {
  margin-top: 20px;
  font-size: 24px;
 
}

/* For Cats */
.carousel__card-category {
  font-family: "Baloo 2", cursive;
  font-size: 24px;
  display: inline;
  width: 100%;
  white-space: nowrap;
}

.carousel__arrow {
  color: var(--color-carousel__arrow);
}

/* block text */
.carousel__card-description {
  margin-top: 20px;
  display: inline;
  max-width: 100%;
  line-height: 21.4275px;
  /* height: auto; */
}

/* text */
.carousel__card-text {
  color: var(--color-carousel__card-text);
  font-size: 15px;
  font-weight: 400;
}

.button__carousel-conteiner-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.carousel-button-cards {
  /* align-items: flex-start; */
  appearance: auto;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: black;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-width: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-width: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  height: 32px;
  text-align: center;
  width: 32px;
  border: none;
}

.prev-button {
  position: absolute;
  left: 0;
}

.next-button {
  position: absolute;
  right: 0;
}