.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: var(--color-background-footer);
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  flex-basis: 100%;
}
.contact__call {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 15px;
  gap: 12px;
}
.contact__call-title {
  color: var(--color-title-footer);
  font-size: 15px;
  font-weight: 700;
  line-height: 21.4275px;
  letter-spacing: normal;
}
.contact__call-number {
  font-family: "Baloo 2", cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--color-number-text);
  line-height: 36px;
  text-decoration: none;
  letter-spacing: normal;
  font-stretch: 100%;
}
.contact__call-number:hover {
  text-decoration: underline;
}
.contact__subscription {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 15px;
  gap: 16px;
}
.contact__subscription-description {
  color: var(--color-content-text);
  font-size: 15px;
  font-weight: 400;
  line-height: 21.4px;
}
.contact__subscription-link {
  color: var(--color-p-text);
  font-size: 15px;
  font-weight: 700;
  line-height: 21.4px;
  text-decoration: none;
}
.contact__subscription-link:hover {
  text-decoration: underline;
}
.highlighted {
  color: var(--color-arrow);
}
.contact__email {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 15px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.contact__email-input {
  font-size: 15px;
  font-weight: 400;
  color: var(--color-p-text);
  background-color: var(--color-button-background);
  border-radius: 20px;
  border: none;
  padding: 11px 22px;
  line-height: 18px;
  margin-top: 12px;
}
.contact__email-button {
  text-align: center;
  border: none;
  background-color: var(--color-background-email-button);
  color: var(--color-button-text);
  border-radius: 20px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.75px;
  line-height: 15px;
  padding: 11px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.contact__email-button:hover {
  background-color: var(--color-background-email-button-hover);
  color: var(--color-text-email-button-hover);
}
.footer__navlinks {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 45px 15px 0 15px;
}
.footer__about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.about__logo-img {
  width: 193px;
}
.footer__about-description {
  color: var(--color-content-text);
  align-items: stretch;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  line-height: 27.2px;
  font-stretch: 80%;
}
.footer__about-description--email {
  color: rgb(149, 139, 126);
  font-weight: 700;
  text-decoration: none;
}
.footer__about-socialnetworks {
  display: flex;
  gap: 16px;
}
.about__socialnetwork-link-item {
  list-style-type: none;
}
.about__socialnetwork-link {
  text-decoration: none;
}
.about__socialnetwork-img {
  display: block;
  background-color: var(--color-icon-background);
  padding: 5px;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
.about__socialnetwork-img:hover {
  background-color: var(--color-icon-background-hover);
  cursor: pointer;
}
.footer__navigation,
.footer__service,
.footer__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.footer__navigation-title,
.footer__service-title,
.footer__information-title {
  color: var(--color-h-text);
  font-family: "Baloo 2", cursive;
  font-size: 22px;
  font-weight: 700;
  line-height: 28.6px;
  position: relative;
}
.footer__navigation-divider {
  width: 14.3%;
  height: 2.5px;
  background-color: var(--color-divider-background);
}
.footer__navigation-links,
.footer__service-links,
.footer__information-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation__link-item,
.service__link-item,
.information__link-item {
  list-style-type: none;
  margin: 10px 5px;
}
.navigation__link,
.service__link,
.information__link {
  text-decoration: none;
  color: var(--color-link);
  font-size: 17px;
  font-weight: 600;
}
.navigation__link:hover,
.service__link:hover,
.information__link:hover {
  color: var(--color-p-text);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 0;
  }
  .footer__container {
    padding: 0;
  }
  .footer__contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 95px 0 25px 0;
  }
  .contact__call {
    flex-basis: 41.6667%;
    max-width: 41.6667%;
  }
  .contact__subscription {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }

  .contact__email {
    flex-basis: 25%;
    max-width: 25%;
  }

  .footer__navlinks {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
    flex-basis: 0;
    margin: 45px 0px 90px 15px;
    padding: 0;
    gap: 0;
  }
  .contact__call-number {
    line-height: 52.8px;
  }
  .contact__call-title {
    font-size: 14px;
  }
  .contact__subscription,
  .contact__email,
  .contact__email-input {
    margin: 0;
  }
  .footer__navlinks {
    flex-grow: 1;
    flex-basis: 100%;
    justify-content: center;
  }
  .footer__about,
  .footer__navigation,
  .footer__service,
  .footer__information {
    padding: 0 15px;
  }
  .footer__about {
    width: fit-content;
    align-items: flex-start;
    flex-basis: 100%;
  }
  .footer__navigation-title,
  .footer__service-title,
  .footer__information-title {
    font-size: 24px;
  }
  .footer__about-description,
  .footer__about-socialnetworks {
    text-align: left;
  }
  .footer__navigation-links,
  .footer__service-links,
  .footer__information-links {
    align-items: flex-start;
  }
  .navigation__link,
  .service__link,
  .information__link {
    font-size: 15px;
  }

  .footer__navigation,
  .footer__service,
  .footer__information {
    align-items: flex-start;
    flex-basis: 100%;
  }
  .contact__call-number {
    font-size: 44px;
  }
}
@media (min-width: 990px) {
  .contact__call-number {
    font-size: 50px;
  }
}
