      .header {
        background-color: #f2e8e4;
      }
      .header__section-info {
        display: flex;
        flex: 1;
        justify-content: space-between;
      }
      .header__info-item {
        background-color: #f2e8e4;
        height: 20px;
        font-weight: bold;
        font-family: "PT Sans";
        color: rgb(237, 100, 53);
        font-size: 15px;
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 10px;
      }
      .header__logo-image {
        width: 182;
        margin-top: -10px;
      }
      .header__nav {
        display: flex;
        flex-direction: row;
        flex: 1;
      }
      .header__logo-container {
        margin-top: 37px;
        margin-left: 93px;
      }
      .header__menu-list {
        font-size: 0;
        margin: 0;
        padding: 0;
        text-align: center;
        display: flex;
        flex: 1;
      }
      .header__menu-item {
        font-size: 15px;
        margin: -100px;
        padding-left: 60px;
        display: inline-block;
        justify-content: center;
        margin-left: 80px;
        margin-top: 80px;
        margin-block: 40px;
      }
      .header__menu-link {
        font-weight: bold;
        color: #6b6b6b;
        font-family: "PT Sans";
      }
      .header__social-list {
        align-items: center;
      }
      .header__social-item {
        margin-bottom: -15px;
        margin-right: -7.5px;
        margin-left: -7.5px;
        width: 30px;
        margin: 5px;
      }
      }
      .header__social-link {
        color: rgb(69, 193, 199);
      }
      
      .header__title {
        font-family: "Baloo 2";
        font-weight: bold;
        color: rgb(60, 55, 49);
        font-size: 82px;
        display: block;
      }
