.new-arrivals {
    padding: 90px 0;
}
.new-arrivals__title-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height:  27.2px;
    padding: 0 15px;
}
.new-arrivals__title {
    font-family: "Baloo 2", cursive;
    font-size:30px;
    font-weight: 700;
    color: var(--dark-grey);
    line-height: 48px;
}
.new-arrivals__decoration {
    
}
.newarrivals__decoration-img {
    width:70px;
    line-height: 32px;
    padding: 15px 0;
}
.new-arrivals__text {
    color:var(--gray-olive);
    font-size: 19px;
    font-weight: 400;
    line-height: 28.5px;
    text-align: center;
}
.new-arrivals__carousel { 
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 32px;
}
.carousel__button-prev {
}
.carousel__button--navigation {
    background-color: var(--dark-grey);
    color:#fff;
    border-radius: 50%;
    padding: 3px; 
}
.carousel__cards {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carousel__cards .dragging{
    cursor:grab;
    scroll-behavior:auto;
} 
.carousel__card {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    flex-basis: 100%;
    margin:0;
    padding:0 15px;
    line-height: 27.2px;
    width: fit-content;
    justify-content: center; 
    align-items: center;
}
.carousel__card-img {
    width: 242px;
}
.carousel__card-info{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
}
.carousel__card-title {
    color:var(--gray-olive);
    font-size:18px;
    font-weight:400;
}
.carousel__card-price {
    color:var(--tangerine);
    font-size:18px;
    font-weight:700;
}
.carousel__card-button {
    color:var(--seashell);
    border-radius: 25px;
    font-size:16.5px;
    font-weight:700;
    background-color: var(--pale-turquoise);
    text-decoration: none;
    padding:10px 32px;
    margin-top:20px;
    width: fit-content;
}
.button {

}
.carousel__button-next {
}
@media(min-width: 768px) {
    .carousel__card {
        flex: 1 0 50%; 
    }
  }
@media(min-width: 992px) {
    .carousel__card {
        flex: 0 0 25%; 
    }
  }