.our-news-container {
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Baloo 2', cursive;
    background-color: var(--background);
}

.news__title {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-h-text);
    margin: 0;
    letter-spacing: -1px;
    text-align: center;

}



.news__logo {
    height: 32px;
    object-fit: contain;
    margin-top: 25px;
}

.news__description {
    font-family: "PT Sans", sans-serif;
    font-size: 19px;
    color: var(--color-content-text);
    margin: 0;
    margin-top: 20px;
    margin-bottom: 24px;
}

.our-news-container__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;
    word-wrap: break-word;

}

@media(min-width:768px){
    .our-news-container__item{
     
    }
}


.news__item {
    margin-bottom: 20px;
    display: block;
    word-wrap: break-word;
}

.news__image {
    object-fit: cover;
    object-position: 63.964% 0%;
}

@media (min-width:768px){
    .news__image{
        width: 337px;
    }
}

.news__item-title {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-h-text);
    margin: 0;
    letter-spacing: -1px;
    text-align: left;

}

.news__item-description {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-size: 17px;
    color: var(--color-content-text);
    margin: 0;
    margin-top: 20px;
    margin-bottom: 24px;
    word-wrap: break-word;
    text-align: justify;

}

.news__item-button {
    display: flex;
    background-color: var(--color-default-backfround);
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
    text-align: left;
    margin: -10px;
    
}

.news__item-button:active,
.news__item-button:focus {
    color: var(--color-divider-background);
    text-decoration: underline;

}

