.scroll-to-top {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 50px;
  width: 60px;
  height: 60px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  font-size: 40px;
  cursor: pointer;
  padding-bottom: 5px;
}
