.new-arrivals {
  min-height: 100vh;
  padding: 90px 0;
  font-family: "PT Sans", sans-serif;
}
@media (min-width: 992px) {
  .new-arrivals {
    padding: 120px 0;
  }
}
.new-arrivals__container {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}
.new-arrivals__title-wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.new-arrivals__title {
  font-family: "Baloo 2", cursive;
  color: var(--color-h-text);
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
@media (min-width: 768px) {
  .new-arrivals__title {
    font-size: 44px;
    line-height: 52.8px;
  }
}
@media (min-width: 992px) {
  .new-arrivals__title {
    font-size: 50px;
    line-height: 60px;
  }
}
.new-arrivals__decoration {
  height: 32px;
  object-fit: contain;
}
.newarrivals__decoration-img {
  height: 32px;
  object-fit: contain;
}
.new-arrivals__text {
  color: var(--color-content-text);
  font-size: 19px;
  font-weight: 400;
  line-height: 28.5px;
  text-align: center;
}
.carousel__button--navigation {
  width: 24px;
  background-color: var(--color-p-text);
  fill: #fff;
  border-radius: 50%;
  padding: 3px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 1;
  opacity: 0.85;
}
.carousel__button-prev {
  transform: rotateY(180deg);
  left: 5px;
}
.carousel__button-next {
  right: 5px;
}
@media (min-width: 768px) {
  .carousel__button--navigation {
    padding: 5px;
    width: 32px;
  }
}
@media (min-width: 1200px) {
  .carousel__button--navigation {
    fill: var(--color-p-text);
    background: none;
    width: 40px;
  }
  .carousel__button-prev {
    left: -12px;
  }
  .carousel__button-next {
    right: -12px;
  }
}
.carousel__card-img {
  max-width: 100%;
  height: auto;
}
.carousel__card-info {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}
.carousel__card-title {
  display: flex;
  color: var(--color-content-text);
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
  flex: 1;
}
.carousel__card-price {
  color: var(--color-price-text);
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}
.carousel__card-button {
  color: var(--color-button-text-secondary);
  border-radius: 25px;
  font-size: 16.5px;
  font-weight: 700;
  background-color: var(--color-background-gallery-button);
  text-decoration: none;
  padding: 10px 32px;
  margin-top: 24px;
  width: fit-content;
  transition: all 0.2s ease-in;
}
.carousel__card-button:hover {
  background-color: var(--color-background-hover-button);
  color: var(--color-button-hover-text);
}
.new-arrivals__carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 45px;
}
.carousel__cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel__card {
  flex: 0 0 100%;
  padding: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .carousel__card {
    flex: 0 0 50%;
  }
}
@media (min-width: 992px) {
  .carousel__card {
    flex: 0 0 25%;
  }
}
