:root {
    scroll-behavior: smooth;
}

/* main section */
.cards {
    padding: 60px 32px;
    display: flex;
    justify-content: center;
    /* Горизонтальне центрування */
    align-items: center;
    /* Вертикальне центрування */
    flex-wrap: wrap;
    /* Переносити на інший рядок при необхідності */
}

/* container with two elements */
.card__container {
    display: flex;
    align-items: center; /* Вертикальне центрування */
}

/* two div (main) */
.card__content {
   background-size: cover;
   text-align: center;
   min-height: 284.7px;
   width: 50%;
   box-sizing: border-box;
   margin: 0 15px;
   font-stretch: 100%;
}



/* card__content-brands background */
.card__content-brands {
    background-image: url(../img/cards-container-backgroud/cards-container-background-1.webp);
    text-align: left;
    padding: 40px 34px;
    border-image-repeat: stretch; /* Розтягувати зображення, щоб заповнити всю межу */
}


/* card__content-sale background */
.card__content-sale {
    background-image: url(../img/cards-container-backgroud/cards-container-background-2.webp);
    text-align: center;
    padding: 40px 34px;
    border-image-repeat: stretch; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Горизонтальне центрування */
    justify-content: center; /* Вертикальне центрування */
}

/* BUTCHERS, ROYAL CANIN, PEDIGREE */
.card__text-brands {
    color: #ed6435;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif, 'Montserrat', sans-serif;
    font-stretch: 100%;
}

/* Best-Quality and Food for Pets and get 10% Off for Cats & Dogs Stuff */
.card__title {
    color: #3c3731;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
}

/* Best-Quality and Food for Pets */
.card__title-brands {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700px;
    font-stretch: 100%;
    font-weight: 700px;
}

/* for 2 line */
.card__title-part {
    display: block;
}


/* get 10% Off for Cats & Dogs Stuff */
.card__text-sale {
    font-size: 30px;
    line-height: 36px;
    max-width: 100%;
}

.card__content-sale {
    padding: 30px 28px;
}

/* span  card__text-sale*/
.card__discount {
    color: #ed6435;
}


.card__button a {
    text-decoration: none;
    display: flex;
    padding: 16px 28px;
    margin: 10px;
    white-space: nowrap; /* Запобігає переносу тексту на іншу лінію */
}

/* button container (2) */
.card__button {
    background-color: #ffe6d4;
    background-position-x: 25px;
    background-position-y: 25px;
    border-radius: 50%;
    width: 123.312px;
    height: 48.5px;
    margin: 10px;
    padding: 16px 28px;
    display: flex;
    justify-content: center;
    /* Горизонтальне центрування */
    align-items: center;
    /* Вертикальне центрування */
}


.card__bottom-text {
    color: #ed6435;
    font-size: 16.5px;
}

