.trending__header {
  text-align: center;
}

.trending__header-title {
  font-size: 30px;
}

.trending_products-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.trending_image {
  height: 32px;
  object-fit: contain;
}

.carousel-card-container {
  padding: 10px 40px;
  display: flex;
  flex-direction: row;
}

/* .button__direction {
  display: flex;
  position: absolute;
  justify-content: space-between;
} */

/* Сховати всі крім першої картки */
.carousel-card:not(:first-child) {
  display: none;
}

@media (max-width: 767px) {
  .carousel-card-container {
    flex-direction: column; /* Один стовпець */
    align-items: center; /* Вирівнювання по лівому краю */
  }
}
