.smooth-scroll {
    transition: scroll-behavior 0.5s ease-in-out;
}

.container-promo {
   display: flex;
}

.left-block {
    background-image: url('../img/promo/pexels-cottonbro.png');
    width: 690px;
    height: 510px;
}

.right-block {
    background-image: url(../img/promo/bannerfood.png);
    width: 330px;
    height: 510px;
}

.promo-title {
    color: #ED6435;
    font-size: 15px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
}

.food-for-dogs {
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: #3C3731;
    font-size: 32px;
    display: flex;
    width: 300px;
    word-break: break-word;
}