.footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: var(--light-pink);
}
.footer__contact {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
}
.contact__call {
    display: flex;
    flex-direction: column;
    gap:24px;
    text-align: left;
    padding: 0 15px;
}
.contact__call-title {
    color:var(--seashell);
    font-size:15px;
    font-weight:700;
    line-height: 21.4275px;
}
.contact__call-number {
    font-family: "Baloo 2", cursive;
    font-size: 30px;
    font-weight: 700;
    color:var(--tangerine);
    line-height: 36px;
    text-decoration: none;
}
.contact__call-number:hover{
    text-decoration: underline;
}
.contact__subscription {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0 15px;
    gap:24px;
}
.contact__subscription-description {
    color:var(--gray-olive);
    font-size: 15px;
    font-weight: 400;
    line-height: 21.4px;
}
.contact__subscription-link {
    color:var(--dark-grey);
    font-size:15px;
    font-weight:700;
    line-height: 21.4px;
    text-decoration: none;

}
.contact__subscription-link:hover{
    text-decoration: underline; 
}
.highlighted {
    color: var(--seashell);
}
.contact__email {
    display: flex;
    flex-direction: column;
    gap:24px;
    padding: 0 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact__email-input {
    font-size: 15px;
    font-weight: 400;
    color:var(--dark-grey);
    background-color: var(--misty-rose);
    border-radius: 20px;
    border: none;
    padding: 11px 22px;
    line-height :18px;
    margin-top: 12px;
    
}
.input {
}
.contact__email-button {
    border: none;
    background-color: var(--antique-white);
    color:var(--tangerine);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.75px;
    line-height: 15px;
    padding: 11px 0px;
    cursor:pointer;
    transition:all 0.2s ease-in;
}
.contact__email-button:hover{
    background-color: var(--pale-turquoise);
    color:var(--sea-green);
}
.button {
}
.footer__navlinks {
    display: flex;
    flex-direction: column;
    gap:64px;
}
.footer__about {
    display: flex;
    flex-direction: column;
    gap:24px;
    align-items: center;
}
.footer__about-logo {
}
.about__logo-img {
    width: 193px;
}
.footer__about-description {
    color:var(--gray-olive);
    align-items: stretch;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    line-height:27.2px;
}
.footer__about-socialnetworks {
    display: flex;
    gap:16px;
}
.about__socialnetwork-link-item {
    list-style-type: none;
}
.about__socialnetwork-link {
    text-decoration: none;
}

.about__socialnetwork-img {
    display: block;
    background-color: var(--seashell);
    padding: 5px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}
.about__socialnetwork-img:hover{
    background-color: var(--sea-green); 
    cursor: pointer;
}
.footer__navigation,.footer__service, .footer__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:12px;
}
.footer__navigation-title,.footer__service-title,.footer__information-title  {
    color:var(--dark-grey);
    font-family: "Baloo 2", cursive;
    font-size:22px;
    font-weight: 700;
    line-height: 28.6px;
    position: relative;
}
.footer__navigation-divider{
    width: 36px;
    height: 3px;
    background-color:var(--tangerine) ;
}
.footer__navigation-links, .footer__service-links, .footer__information-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
}
.navigation__link-item, .service__link-item, .information__link-item {
    list-style-type: none;
}
.navigation__link, .service__link, .information__link{
    text-decoration: none;
    color:var(--dark-gray);
    font-size: 17px;
    font-weight: 600;
}
.navigation__link:hover, .service__link:hover, .information__link:hover{
    color:var(--dark-grey);
    text-decoration: underline;
}
@media(min-width:768px){
    .footer__contact{
       display: grid;
       grid-template-columns: 2fr 2fr 1fr;
       align-items:center;
       padding: 95px 32px 25px 32px;
    }
    .footer__navlinks{
        display: flex;
        flex-direction:row;
        align-items: flex-start;
        flex: 1; 
        flex-basis: 0;
        margin: 45px 32px 90px 32px;
    }
    .contact__call-number{
        line-height:52.8px;
    }
    .contact__call-title{
        font-size:14px;
    }
    .contact__subscription, .contact__email,.contact__email-input{
        margin:0;
    }
    .footer__navlinks{
        flex-grow:1;
        flex-basis: 100%;
        justify-content: space-around;  
    }
    .contact__call{
        min-width: 223px;
    }
    .footer__about{
        width:min-content;
        align-items: flex-start;
    }
    .footer__about-description, .footer__about-socialnetworks{
        text-align: left;
    }
    .footer__navigation-links, .footer__service-links, .footer__information-links{
        align-items: flex-start;
    }
    .footer__navigation,.footer__service, .footer__information{
        align-items: flex-start;
    }
    .contact__call-number{
        font-size: 44px;
    }
}
@media(min-width:990px){
    .contact__call-number{
        font-size: 50px;
    }
}