.smooth-scroll-discover {
    transition: scroll-behavior 0.5s ease-in-out;
}

.promo {
    display: flex;
    justify-content: center;
}

.upper-block {
    background-image: url('../img/promo/pexels-cottonbro.png');
    width: 305px;
    height: 162px;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}

.lower-block {
    background-image: url(../img/promo/bannerfood.png);
    width: 305px;
    height: 323px;
    background-position-y: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-repeat: no-repeat;
}

.promo-title {
    color: var(--color-number-text);
    font-size: 15px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    margin-top: 30px;
    margin-left: 20px;
}

.food-for-dogs {
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: var(--color-p-text);
    font-size: 32px;
    display: flex;
    width: 300px;
    word-break: break-word;
}