    .header__section-info {
        display: flex;
        flex: 1;
        justify-content: space-between;
      }
      .header__info-item {
        height: 16px;
        font-weight: bold;
        font-family: "PT Sans";
        font-size: 15px;
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 10px;
      }
      .header__contactus-item {
        color: rgb(237, 100, 53);
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        padding-top: 10px;
        margin-bottom: -5px;
        margin-right: 45px;
      }
      .header__logo-image {
        width: 182;
        margin-top: -10px;
      }
      .header__nav {
        display: flex;
        flex-direction: row;
        flex: 1;
      }
      .header__logo-container {
        margin-top: 37px;
        margin-left: 93px;
      }
      .header__menu-list {
        text-align: center;
        display: flex;
        flex: 1;
      }
      .header__menu-item {
        font-size: 15px;
        margin: -100px;
        padding-left: 60px;
        display: inline-block;
        justify-content: center;
        margin-left: 80px;
        margin-top: 80px;
        margin-block: 40px;
      }
      .header__menu-link {
        font-weight: bold;
        color: #6b6b6b;
        font-family: "PT Sans";
        text-decoration: none;
      }
      .header__social-list {
        display: flex;
        justify-content: flex-end;
      }
      .header__social-item {
        width: 6%;
        list-style-type: none;
        margin-left: 60px;
        margin-top: 60px;
        margin-block: 30px;
      }
      .header__social-link {
        color: rgb(69, 193, 199);
      }
      .header__title {
        font-family: "Baloo 2";
        font-weight: bold;
        color: rgb(60, 55, 49);
        font-size: 80px;
        font-family: "Baloo 2";
      }
      .header__description {
        color: rgb(149, 139, 126);
        font-size: 19px;
        margin-bottom: 60px;
        margin-top: 30px;
      }
      .header__buttons-aboutus {
        font-size: 16.5px;
        border-radius: 20px;
        background-color: #ffe6d4;
        padding: 10px 25px 12px 25px;
        color: #ed643c;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.5s ease;
      }
      .header__buttons-aboutus:hover {
        color: #5ccbd7;
        background-color: #b6e7e8;
      }
      .header__buttons-categories {
        font-size: 16.5px;
        margin-left: 20px;
        border-bottom: 1px solid #45c1c7;
        border-top: 1px solid #45c1c7;
        border-radius: 25px;
        border-right: 1px solid #45c1c7;
        border-left: 1px solid #45c1c7;
        background-color: rgb(250, 244, 242);
        padding: 10px 30px 12px 30px;
        color: #45c1c7;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.5s ease;
      }
      .header__buttons-categories:hover {
        color: #fff;
        background-color: #45c1c7;
      }
      .header__group-inner {
        display: flex;
        flex-direction: row;
      }
