.trending__products-container {
  min-height: 100vh;
  padding: 90px 0;
}

@media (min-width: 1024px) {
  .trending__products-container {
    padding: 120px 0;
  }
}

.trending_products-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

.trending__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.trending__header-title {
  color: var(--color-h-text);
  font-family: "Baloo 2", cursive;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.carousel__button-direction:hover {
  background-color: --color-link;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .trending__header-title {
    font-size: 44px;
    line-height: 52.8px;
  }
}

@media (min-width: 1024px) {
  .trending__header-title {
    font-size: 50px;
    line-height: 60px;
  }
}

.trending_decoration {
  height: 32px;
  object-fit: contain;
}

.trending_image {
  height: 32px;
  object-fit: contain;
}

.trending_subtitle {
  color: var(--color-content-text);
  font-size: 19px;
  font-weight: 400;
  line-height: 28.5px;
  text-align: center;
}

.carousel-card-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  justify-content: center;
  margin-top: 45px;
}

/* <!--buttons remember --> */

@media (min-width: 768px) {
  .carousel__card-block {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
}

.carousel-card {
  display: flex;
  flex: 0 0 100%;
  width: 242px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .carousel-card {
    flex: 1 0 50%;
  }
}

@media (min-width: 1024px) {
  .carousel-card {
    flex: 0 0 25%;
    padding-left: 10px;
  }
}
.carousel-card__image {
  max-width: 100%; 
  height: auto;
}

.carousel-card__title {
  color: var(--color-content-text);
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
  flex: 1;
}

.carousel-card__price {
  color: var(--color-price-text);
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.carousel-card__button {
  background-color: var(--color-background-gallery-button);
  font-family: "PT Sans", sans-serif;
  color: #45c1c7;
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
  width: 145px;
  height: 50px;
  border: none;
  border-radius: 25px;
  transition: background-color 0.2s, opacity 0.2s; /* Додайте плавний перехід для стилів */
}

.carousel-card__button:hover {
  cursor: pointer;
  background-color: var(--color-background-hover-button);
  color: var(--color-button-hover-text);
}