.promotion-container {
    background-image: url("../img/promotion/cta.jpg");
    background-size: cover;
    height: 705px;
    display: flex;
    flex-flow: column;
    padding: 120px 50px;
}

.auto-size-container {
    width: 1200px;
    margin: 0 auto;
}

.sidebar {
    max-width: 475px;
}

.promotion {
    color: var(--color-button-border);
    font-size: 15px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    margin-bottom: 20px;
}

.cat-week {
    font-family: "Baloo 2", cursive;
    font-weight: bold;
    color: var(--color-p-text);
    font-size: 70px;
    display: flex;
    word-break: break-word;
    line-height: 1.1;
}

.special-prices {
    color: var(--color-content-text);
    font-size: 19px;
    font-family: "PT Sans", sans-serif;
    word-break: break-word;
    flex-wrap: wrap;
    margin-top: 30px;
}

.discount {
    color: var(--color-number-text);
    font-weight: bold;
}

.timer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 390px;
}

.timer-box {
    display: flex;
    flex-flow: column wrap;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid var(--color-button-border);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
}

.timer-text {
    font-size: 20px;
    font-family: "Ballo 2", cursive;
    font-weight: bold;
    color: var(--color-p-text);
}

.timer-sub-text {
    font-size: 12px;
    font-family: "PT Sans", cursive;
    color: var(--color-text-section-text);
}

.shop-btn {
    margin-top: 55px;
}

.smooth-scroll-shop {
    transition: scroll-behavior 0.5s ease-in-out;
    text-decoration: none;
    background-color: var(--color-background-gallery-button);
    color: var(--color-button-border);
    font-size: 20px;
    font-weight: bold;
    font-family: "PT Sans", sans-serif;
    padding: 15px 30px;
    border-radius: 30px;
    height: 48px;
}

@media (max-width: 525px) {
    .auto-size-container {
        width: auto;
    }

    .promotion-container {
        padding: 120px 0
    }

    .sidebar {
        padding: 0 10px;
    }
}
