.trending__header {
  text-align: center;
}

.trending__header-title {
  font-size: 30px;
}

.trending_image {
  height: 32px;
  object-fit: contain;
}

.carousel-card-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (min-width: 768px) {
  .trending__header-title {
    font-size: 44px;
  }
}
