.trending_products {
    background-color: var(--text-color);
}

.trending_title {
    font-weight: bold;
    text-align: center;
}
.carousel-control-next-icon {
    color: black;
}

.trending_image {
    display: block;
    width: 100%;
}

.trending_subtitle {
    text-align: center;
    color: var(--ui-subtitle-color);
}

.carousel-control-next-icon {
    color: black;
}

@media (min-width: 320px) {
    .trending_image {
        width: 70px;
        height: 32px;
        margin: 10px auto;
    }

    .carousel-container {
        display: flex;
        justify-content: center;
    }
}

/* @media (min-width: 767px) {
    .carousel-inner {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Два стовпці з однаковою шириною */
    
   /* .carousel-item {
        padding: 10px;
        border: 1px solid #ccc;
    }
    .flex-fill {
        display: flex;
        justify-content: space-between;
    }
    .carousel-item active {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        padding: 0 20px;
    }
} 

